*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


#root {
    background: var(--primary-color-3);
}

main {
    min-height: 100vh;
    min-width: fit-content;
    margin-left: var(--nav-width);
    width: calc(100% - var(--nav-width));
    padding: 2%;
    transition: color, background-color 200ms
}

.data-wrapper {
    color: var(--primary-text-color);
    width: 100%;
    /* border: 6px solid var(--color-dark-grey);
    background-color: var(--color-grey); */
    border-radius: 0.2rem;
    overflow-x: hidden;
    font-weight: 300;
    /* overflow-y: scroll; */
}

::-webkit-scrollbar {
    width: 0.6rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-4);
}
::-webkit-scrollbar-track {
    background-color: var(--primary-color-2);
}

.row  {
    width: 100%;
    height: 2.5rem;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(var(--secondary-color-1-adj), 0.25);
}

#dark .row:nth-child(2n) {
    background-color: rgba(0, 0, 255, 0.025);
}
#light .row:nth-child(2n) {
    background-color: rgba(0, 0, 255, 0.08);
}

.screener-data-content {
    border: 1px solid rgba(var(--secondary-color-1-adj), 0.25);
    border-top: none;
}

.col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    position: relative;
}

.col-2, .description-col-2, .col-3, .description-col-3, .col-4, .description-col-4,
.col-5, .description-col-5, .col-6, .description-col-6, .col-7, .description-col-7 {
    width: 80%;
}
.description-col-8 {
    width: 25%;
    user-select: none;
    justify-content: end;
}

.col-8 {
    width: 25%;
}

.col-1,.description-col-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    min-width: 210px;
}

.description-col-1 span {
    margin-left: 1rem;
}

.col-2, .description-col-2  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}


.screener-input-field {
    width: 80px;
    height: 1.5rem;
    display: block;
    border-radius: 50vw;
    background-color: transparent;
    border: 1px solid var(--primary-color-2);
    padding-left: .8rem;
    font-size: 1rem;
    color: var(--primary-text-color);
    transition: width 300ms ease;
    outline: none;
}

.screener-input-field:focus {
    width: 100px;
}

.description-row {
    border: 1px solid rgba(var(--secondary-color-1-adj), 0.25);
    border-radius: 0.5rem 0.5rem 0 0;
    height: 3.6rem;
    position: sticky;
    z-index: 3;
}

.description-row span {
    white-space: nowrap;
}

.row a {
    color: var(--primary-text-color);
    text-decoration: none;
}

@keyframes arrow-slide {
    from {opacity: 0; transform: translate(0, -50%)}
    to {opacity: 100; transform: translate(100%, -50%)}
}

.description-col span {
    cursor: pointer;
    display: inline;
    font-weight: 700;
}

.data-wrapper::-webkit-scrollbar {
    width: 0;
}

.description-col {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative;
}


.hover-container {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
}
.hover-container img {
    width: 100%;
    height: 100%;
    filter: grayscale(1) opacity(0.65)
}

.display-on-hover {
    display: none;
    position: absolute;
    font-size: 0.8rem;
    font-weight: 100;
    top: 1.36rem;
    left: 0;
    padding: 1rem;
    background-color: var(--primary-color-2);
    filter: brightness(1.1);
    border-radius: 1rem;
    animation: fade-on-hover 300ms ease
}



@keyframes fade-on-hover {
    from {opacity: 0}
    to {opacity: 1}
}

.hover-container:has(.active) p {
    width: 8rem;
    display: block;
}

.top-wrapper {
    justify-content: center;
    display: flex;
    width: calc(100% - var(--nav-width));
    min-height: 15rem;
    height: 30vh;
    margin-left: var(--nav-width);
    gap: 2rem;
    padding: 2% 2% 0 2%;
    min-width: fit-content;
}

.top-wrapper > div {
    height: 100%;
    border-radius: 0.2rem;
    filter: drop-shadow(0px 6px 12px rgba(60, 45, 81, 0.2));
    transition: color, background-color var(--transition-speed);
    color: var(--primary-text-color);
}
.top-wrapper > div:nth-child(1) {
    width: calc(1/3 * 100%);
    display: grid;
    place-content: center;
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0));
}

.top-right-section {
    width: calc(2/3 * 100%);
    display: flex;
    overflow: hidden;
}

.top-right-section > div {
    flex-grow: 1;
    padding: 1rem;
}
.top-right-section > div:first-child {
    background-color: transparent;
}
.top-right-section > div:nth-child(2) {
    background-color: transparent;
}
.top-right-section > div:last-child {
    background-color: transparent;
}

.segment-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#light .col:not(.description-col) {
    filter: brightness(0.95) contrast(1.1)
}

.segment-chunk {
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0));
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    padding-left: 0.5rem;
    border-radius: 0.3rem;
}

.indicator-img {
    filter: invert(0.6);
}

.segment-header {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.segment-data {
    font-size: 0.8rem;
    font-weight: 300;
}
.segment-name {
    font-weight: 300;
}

.day-volume {
    font-weight: 300;
}

.watching-toggle-image {
    width: 1rem;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 300ms;
    margin-right: 1rem;
}
.custom-indicator-menu-wrapper {
    position: absolute;
    top: 2.5rem;
    right: 0.9rem;
    background-color: var(--primary-color-2);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    overflow: hidden;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
}


.custom-indicator-menu-wrapper > li {
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--primary-color-4);
    width: 100%;
    list-style: disc;
}
#dark .custom-indicator-menu-wrapper li:hover {
    filter: brightness(1.1)
}
#light .custom-indicator-menu-wrapper li:hover {
    filter: brightness(0.9)
}
.custom-indicator-menu-wrapper span {
    font-weight: 500;
}

.col-custom, .description-col-custom {
    width: 60%;
}

.clear-custom-indicator-image {
    width: 1rem;
    cursor: pointer;
    user-select: none;
}

#dark .clear-custom-indicator-image {
    filter: invert(0.2)
}

#light .add-indicator-image {
    width: 1.2rem;
    height: 1.2rem;
    filter: invert(8%) sepia(100%) saturate(7150%) hue-rotate(247deg) brightness(95%) contrast(143%);
    opacity: 0.5;
    cursor: pointer;
}

#dark .add-indicator-image {
    width: 1.2rem;
    height: 1.2rem;
    filter: invert(0.25);
    cursor: pointer;
}

.add-indicator-image:hover {
    transform: scale(1.1);
    transition: transform 200ms;
}

.p-indicator-menu {
    padding: 1rem;
    background-color: var(--primary-color-2);
    font-weight: 700;
}