/* *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
} */

.container {
    width: 100%;
    min-height: 100dvh;
    background: rgb(44, 46, 54);
    background-position: center center;
    display: grid;
    place-items: center;
    animation: background-ani 6s ease infinite alternate;
}

@keyframes background-ani {
    from {background-size: 100%;}
    to {background-size: 200%;}
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    max-width: 20%;
    min-width: 380px;
    max-height: 80vh;
    padding: 50px 35px 50px 35px;
    border-radius: 0.5rem;
    /* box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75); */
}

.disclaimer {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
    align-self: center;

}

.wrapper > p:nth-child(2) {
    margin-bottom: 2rem;
    opacity: 0.9;
    align-self: center;
    text-align: center;
}
.wrapper > p:nth-child(3) {
    font-weight: 600;
}

ol {
    margin: 0.5rem 0 15% 2rem;

}

li {
    opacity: 0.9;
    list-style: decimal;
}

label {
    font-size: 0.8rem;
    margin-top: 1rem;
    font-weight: 400;
    opacity: 0.6;
}

.not {
    font-weight: 700;
}

.input-form {
    height: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
button {
    font-size: 0.8rem;
    font-weight: 600;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
    width: 25%;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
}
button:hover {
    cursor: pointer;
    background-color: #63636369;
    color: black;
    transition: 250ms
}

.form-input {
    height: 100%;
    width: 70%;
    font-size: 1rem;
    color: black;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.462);
}

.form-input:focus{
    outline: none;
    transition: 600ms;
}

@media (max-width: 600px ) {
    .container {
        background: rgba(255, 255, 255, 1);
    }
    .wrapper {
        width: 100%;
        height: auto;
        max-width: none;
        max-height: none;
        min-width: none;
        padding: 60px 1rem 60px 1rem;
        border-radius: 0;
    }
}