/* nav stuff */

.navigation {
    height: 100dvh;
    background-color: var(--primary-color-4);
    width: var(--nav-width);
    position: fixed;
    transition: width 300ms;
    z-index: 999;
    transition: 200ms ease;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#light .navbar-nav img {
    filter: invert(1)
}

.navigation li {
    width: 100%;
    position: relative;
}

.nav-logo {
    margin-bottom: calc(1/2 * var(--nav-width));
    margin-top: calc(1/3 * var(--nav-width));
    width: calc(2/3 * var(--nav-width));
    transition: transform 300ms
}

.navbar-nav a, .navbar-nav div {
    height: var(--nav-width);
    display: flex;
    align-items: center;
    transition: transform 200ms ease;
}
.navbar-nav div {
    cursor: pointer;
}

.navbar-nav li:last-child {
    margin-top: auto;
    user-select: none;
}

.navbar-nav li:not(.navbar-nav li:first-child):hover {
    background-color: var(--primary-color-2);
}
#light .navbar-nav li:not(.navbar-nav li:first-child):hover {
    background-color: rgb(218, 218, 218);
}


.navbar-nav img:not(.nav-logo) {
    max-width: calc(1/3 * var(--nav-width));
    min-width: calc(1/3 * var(--nav-width));
    margin: 0 calc(1/3 * var(--nav-width));
}

.nav-text {
    font-size: max(0.8rem, calc(1/5 * var(--nav-width)));
    display: none;
    margin-left: calc(1/6 * var(--nav-width));
    color: var(--primary-text-color);
    position: relative;
    right: var(--nav-width);
}

.navbar-nav li:first-child {
    display: flex;
    justify-content: center;
}

.navigation:hover {
    width: calc(var(--nav-width) * 2.6);
    box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.25);
}


.navigation:hover .nav-logo {
    transform: rotate(90deg);
}

.navigation:hover .nav-text {
    transition: 200ms;
    animation: slide-ani 300ms ease forwards
}


@keyframes slide-ani {
    from {
        right: var(--nav-width);
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

.navigation:hover .nav-text {
    display: inline;
}