.home-page-wrapper {
    color: white;
    margin-left: var(--nav-width);
    width: calc(100% - var(--nav-width));
    background: var(--background-color);
    padding: 2rem;
    min-height: 100vh;
}

.homepage-content {
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 1rem;
}

.home-page-header {
    width: 100%;
    height: 15rem;
    background-color: var(--primary-color-4);
    margin: 0rem 0 2rem 0;
}
.home-page-header button {
    height: 3rem;
    width: 6rem;
    font-size: 1rem;
}

.pair-component-wrapper {
    width: 100%;
    height: 39vh;
    background: var(--primary-color-2);
    border-radius: 0.3rem;
    backdrop-filter: blur(6rem);
    overflow: hidden;
}

.homepage-footer {
    width: calc(100% - var(--nav-width));
    background: var(--primary-color-4);
    color: white;
    margin-left: var(--nav-width) ;
    height: 3rem;
    display: grid;
    place-content: center;
}

.pair-component-header div {
    display: flex;
    gap: 1rem;
}

.pair-component-header {
    background-color: var(--primary-color-4);
    color: var(--primary-text-color);
    font-weight: 500;
    height: 4rem;
    width: 100%;
    padding: 1rem;
}

.pair-component-header img {
    position: absolute;
    width: 2rem;
    right: 1rem;
}

.price-and-pair-home > p:nth-child(1) {
    font-weight: 700;
}

.pair-component-content {
    width: 100%;
    height: calc(100% - 4rem);
    display: grid;
    padding: 1rem;
    place-items: center;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr)
}


.home-grid-data-comp:last-child {
    background-color: var(--primary-color-2);
    width: 100%;
    height: 100%;
    filter: brightness(0.9);
    border-radius: 0.3rem;
}
.home-grid-data-comp:last-child:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.homepage-content-break {
    width: 100%;
    height: 6rem;
    background: var(--primary-color-1);
    margin: 2rem 0 2rem 0;
    border-radius: 0.5rem;
}

.homepage-user-specific-content {
    min-height: 30vh;
}

.homepage-userselected-placeholder {
    width: 100%;
    height: 30vh;
    background-color: var(--primary-color-4);
    margin-bottom: 2rem;
    display: grid;
    place-content: center;
    font-size: 2rem;
    font-weight: 700;
}